/* 小冰分类分类磁铁黑夜模式适配 */
/* 一般状态 */
[data-theme="dark"] .magnet_link_context {
    background: #1e1e1e;
    color: rgb(246, 246, 246);
}

/* 鼠标悬浮状态 */
[data-theme="dark"] .magnet_link_context:hover {
    background: #A8D6D2;
    color: #f2f2f2;
}

svg.social_icon {
    width: 1.20em;
    height: 1.20em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden; }

/* ========================twikoo美化====================== */
/* 隐藏评论者头像 */
#twikoo .tk-comments .tk-submit .tk-avatar.tk-has-avatar {
    display: none;
}

/* 下面表情和按钮那一栏的设置 */
#twikoo .tk-comments .tk-submit .tk-row.actions {
    margin-bottom: 0;
    margin-left: 0;
}

/* 个人信息和文本输入之间的空位置 */
.tk-main .tk-submit .tk-col .tk-meta-input,
#twikoo .tk-comments .tk-submit .tk-col .tk-meta-input {
    margin-bottom: 16px;
}

/* 直接固定高度，解决提交按钮有时高度不起作用的问题 */
.tk-row.actions button.el-button {
    height: 32px;
}

/* 解决图片大小超出范围问题 */
.tk-main .tk-content img {
    max-width: 100%;
    height: auto;
}

/* 圆角设置 */
.tk-meta-input input {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tk-meta-input div {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* 输入框样式 */
.tk-input.el-textarea textarea {
    border-radius: 10px;
    min-height: 150px !important;
    height: auto;
}

/* 宽度太窄的时候去掉预览按钮 */
@media screen and (max-width:420px) {
    .tk-main .tk-submit .tk-row.actions button.el-button.tk-preview.el-button--default.el-button--small {
        display: none;
    }
}

:root {
    --liushen-radius: 10px;
    --liushen-card-border-width: 1px;
}

/* 浅色模式颜色 */
[data-theme=light] {
    --liushen-border-color: #e3e8f7;
    --liushen-card-bg: rgba(255, 255, 255, 0.85);
    --liushen-card-border: #e3e8f7;
    --style-border-always: 1px solid var(--liushen-card-border);
    --liushen-blue: #A8D6D2;
}

/* 深色模式颜色 */
[data-theme=dark] {
    --liushen-border-color: #42444a;
    --liushen-card-bg: rgba(255, 255, 255, 0.2);
    --liushen-card-border: #42444a;
    --style-border-always: 1px solid var(--liushen-card-border);
    --liushen-blue: #A8D6D2;
}

/* 评论区评论大框 */
.twikoo .tk-comments-container>.tk-comment,
.twikoo .tk-comments .tk-submit {
    /* 内边距 */
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    /* 圆角 */
    border-radius: 10px;

    /* 背景颜色 */
    background: var(--liushen-card-bg);
    /* 变动动画时长 */
    transition: .3s;
}

/* 浅色模式评论区评论大框 */
[data-theme=light] .twikoo .tk-comments-container>.tk-comment,
.twikoo .tk-comments .tk-submit {
    /* 阴影 */
    box-shadow: var(--card-box-shadow);
}

/* 浅色模式评论区评论大框阴影悬浮加深 */
[data-theme=light] .twikoo .tk-comments-container>.tk-comment:hover,
.twikoo .tk-comments .tk-submit:hover {
    /* 阴影（浅色模式突出层次感） */
    box-shadow: var(--card-hover-box-shadow);
}

/* 黑暗模式评论区评论大框 */
[data-theme=dark] .twikoo .tk-comments-container>.tk-comment,
.twikoo .tk-comments .tk-submit {
    /* 边框样式 */
    /* 边框宽度 */
    border-width: var(--liushen-card-border-width);
    /* 边框颜色 */
    border-color: var(--liushen-card-border);
}

/* 设备信息 */
.twikoo .tk-extra {
    /* 圆角 */
    border-radius: var(--liushen-radius);
    /* 背景颜色 */
    background: var(--liushen-card-bg);
    /* 内边距 */
    padding: 0.4rem;
    /* 底边距 */
    margin-bottom: 1rem;
    /* 变动动画时长 */
    transition: .3s;
}

/* 浅色模式设备信息 */
[data-theme=light] .twikoo .tk-extra {
    /* 阴影 */
    box-shadow: var(--card-box-shadow);
}

/* 浅色模式设备信息阴影悬浮加深 */
[data-theme=light] .twikoo .tk-extra:hover {
    /* 阴影 */
    box-shadow: var(--card-hover-box-shadow);
}

/* 黑暗模式设备信息 */
[data-theme=dark] .twikoo .tk-extra {
    /* 边框样式 */
    border-style: solid;
    /* 边框宽度 */
    border-width: var(--liushen-card-border-width);
    /* 边框颜色 */
    border-color: var(--liushen-card-border);
}

/* 加载更多按钮 */
.twikoo .tk-expand {
    /* 圆角 */
    border-radius: var(--liushen-radius);
}

/* 浅色模式加载更多按钮 */
[data-theme=light] .twikoo .tk-expand {
    /* 阴影 */
    box-shadow: var(--card-box-shadow);
}

/* 浅色模式加载更多按钮（鼠标悬浮时） */
[data-theme=light] .twikoo .tk-expand:hover {
    /* 阴影 */
    box-shadow: var(--card-hover-box-shadow);
    /* 背景颜色 */
    background-color: var(--btn-bg);
}

/* 黑暗模式加载更多按钮（鼠标悬浮时） */
[data-theme=dark] .twikoo .tk-expand:hover {
    /* 背景颜色 */
    background-color: var(--liushen-blue);
}

/* 黑暗模式加载更多按钮 */
[data-theme=dark] .twikoo .tk-expand {
    /* 边框样式 */
    border-style: solid;
    /* 边框宽度 */
    border-width: var(--liushen-card-border-width);
    /* 边框颜色 */
    border-color: var(--liushen-card-border);
}

/* 分类卡片移动端个人信息卡片只显示两个 */
@media screen and (max-width:570px) {
    .tk-main .tk-extras {
        display: none;
    }
}

/* 评论区按钮样式 */
.tk-row.actions button.el-button {
    border-radius: 10px !important;
}

/* 由于twikoo内部函数不宜修改，为了合适，去掉弹窗中的刷新按钮，该部分不需要，这是为了适配右键回复弹窗的内容的
#popup #twikoo .tk-comments .tk-comments-container .tk-comments-title > span:nth-child(2) > span:nth-child(1) {
	display: none;
} */

/* ========================twikoo美化====================== */

/* 版权样式调整 */
#post .post-copyright {
    background: var(--hanta-card-bg);
    padding: 1rem 1.3rem;
    overflow: hidden;
    border: var(--style-border);
    border-width: 1px;
    transition: 0.3s;
    position: relative;
    margin: 1.5rem 0px 0.5rem;
    border-radius: 8px;
}

#post .post-copyright:before {
    position: absolute;
    right: 22px;
    top: -77px;
    content: "\e039";
    font-size: 180px;
    font-family: "iconfont";
    color: var(--icat-fontcolor);
    opacity: 0.1;
    filter: blur(7px);
}

/* 版权样式调整end */

:root {
    --hanta-card-bg: #fff;
}

[data-theme='dark'] {
    --hanta-card-bg: #1b1c20;
}

/*侧边卡片的透明度 */
:root {
  --card-bg: rgba(255, 255, 255, 0.85);
  --btn-bg: #A8D6D2;
}

[data-theme="dark"] {
  --card-bg: rgba(255, 255, 255, 0.2);
  --btn-bg: #000000;
}

/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content > .card-widget.card-info {
    background-image: url(https://i.p-i.vip/68/20250908-68bead22ab50a.webp);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }
  [data-theme="dark"] #aside-content > .card-widget.card-info {
    background-image: url(https://i.p-i.vip/68/20250908-68bead3ddbfd2.webp);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }

center {
    text-align: center;
}

/* 说说 */

:root {
    --liushen-card-bg: rgba(255, 255, 255, 0.85);
    --liushen-card-border: 1px solid #e3e8f7;
    /* --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.09); 
    --card-hover-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.2); */
    --liushen-card-secondbg: rgba(255, 255, 255, 0.85);
    --liushen-button-hover-bg: #A8D6D2;
    --liushen-text: #4c4948;
    --liushen-button-bg: #f1f3f8;
    --liushen-fancybox-bg: rgba(255, 255, 255, 0.5);
}

:root, [data-theme=dark] {
    --liushen-card-bg: rgba(255, 255, 255, 0.2);
    --liushen-card-secondbg: rgba(255, 255, 255, 0.2);
    /* --liushen-card-border: 1px solid #42444a;
    --card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.09);
    --card-hover-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.2); */
    --liushen-button-bg: #30343f;
    --liushen-button-hover-bg: #A8D6D2;
    --liushen-fancybox-bg: rgba(0, 0, 0, 0.5);
}

/* 卡片初始化 */
#talk .talk_item {
    width: calc(33.333% - 6px);
    background: var(--liushen-card-bg);
    border: var(--liushen-card-border);
    box-shadow: var(--card-box-shadow);
    transition: box-shadow .3s ease-in-out;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 9px;
    margin-right: 9px;
}

#talk .talk_item:hover {
    box-shadow: var(--card-hover-box-shadow);
}

@media (max-width: 900px) {
    #talk .talk_item {
        width: calc(50% - 5px);
    }
}

@media (max-width: 450px) {
    #talk .talk_item {
        width: calc(100%);
    }
}

#talk {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

#talk .talk_meta .avatar {
    margin: 0 !important;
    width: 60px;
    height: 60px;
    border-radius: 12px;
}

#talk .talk_bottom,
#talk .talk_meta {
    display: flex;
    align-items: center;
}

#talk .talk_meta {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px dashed grey;
    /* 添加灰色虚线边框 */
}

#talk .talk_bottom {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px dashed grey;
    /* 添加灰色虚线边框 */
    justify-content: space-between;
}

#talk .talk_meta .info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#talk .talk_meta .info .talk_nick {
    color: #6dbdc3;
    font-size: 1.2rem;
}

#talk .talk_meta .info svg.is-badge.icon {
    width: 15px;
    padding-top: 3px;
}

#talk .talk_meta .info span.talk_date {
    opacity: .6;
}

#talk .talk_item .talk_content {
    margin-top: 10px;
}

#talk .talk_item .talk_content .zone_imgbox {
    display: flex;
    flex-wrap: wrap;
    --w: calc(25% - 8px);
    gap: 10px;
    margin-top: 10px;
}

#talk .talk_item .talk_content .zone_imgbox a {
    display: block;
    border-radius: 12px;
    width: var(--w);
    aspect-ratio: 1/1;
    position: relative;
}

#talk .talk_item .talk_content .zone_imgbox a:first-child {
    width: 100%;
    aspect-ratio: 1.8;
}

#talk .talk_item .talk_content .zone_imgbox img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    object-fit: cover;
}

/* 底部 */
#talk .talk_item .talk_bottom {
    opacity: .9;
}

#talk .talk_item .talk_bottom .icon {
    float: right;
    transition: all .3s;
}

#talk .talk_item .talk_bottom .icon:hover {
    color: #A8D6D2;
}

#talk .talk_item .talk_bottom span.talk_tag,
#talk .talk_item .talk_bottom span.location_tag {
    font-size: 14px;
    background-color: var(--liushen-card-secondbg);
    border-radius: 12px;
    padding: 3px 15px 3px 10px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#talk .talk_item .talk_bottom span.location_tag {
    margin-left: 5px;
}

#talk .talk_item .talk_bottom span.talk_tag:hover,
#talk .talk_item .talk_bottom span.location_tag:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#talk .talk_item .talk_content>a {
    margin: 0 3px;
    color: #A8D6D2 !important;
}

#talk .talk_item .talk_content>a:hover {
    text-decoration: none !important;
    color: #A8D6D2 !important
}

@media screen and (max-width: 900px) {
    #talk .talk_item .talk_content .zone_imgbox {
        --w: calc(33% - 5px);
    }

    #talk .talk_item #post-comment {
        margin: 0 3px
    }
}

@media screen and (max-width: 768px) {
    .zone_imgbox {
        gap: 6px;
    }

    .zone_imgbox {
        --w: calc(50% - 3px);
    }

    span.talk_date {
        font-size: 14px;
    }
}

#talk .talk_item .talk_content .douban-card {
    margin-top: 10px !important;
    text-decoration: none;
    align-items: center;
    border-radius: 12px;
    color: #faebd7;
    display: flex;
    justify-content: center;
    margin: 10px;
    max-width: 400px;
    overflow: hidden;
    padding: 15px;
    position: relative;
}

/* 外链卡片 */
#talk .talk_item .talk_content .shuoshuo-external-link {
    /* 无下划线 */
    width: 100%;
    height: 80px;
    margin-top: 10px;
    border-radius: 12px;
    background-color: var(--liushen-card-secondbg);
    color: var(--liushen-card-text);
    border: var(--liushen-card-border);
    transition: background-color .3s ease-in-out;
}

.shuoshuo-external-link:hover {
    background-color: var(--liushen-button-hover-bg);
}

.shuoshuo-external-link .external-link {
    display: flex;
    color: var(--liushen-text) !important;
    width: 100%;
    height: 100%;
}

.shuoshuo-external-link .external-link:hover {
    color: white !important;
}

.shuoshuo-external-link .external-link:hover {
    text-decoration: none !important;
}

.shuoshuo-external-link .external-link-left {
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
}

.shuoshuo-external-link .external-link-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 80px);
    padding: 10px;
}

.shuoshuo-external-link .external-link-right .external-link-title {
    font-size: 1.0rem;
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shuoshuo-external-link .external-link-right i {
    margin-left: 5px;
}

.limit {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

/* maintop */

#main_top {
    display: flex;
    justify-content: center;
    z-index: 1;
    max-width: 1200px;
    margin: 20px auto;
    width: 100%;
    padding: 0 15px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  
  .hide-aside #main_top {
    width: 80%;
  }
  
  .hide-aside #main_top #bber-talk {
    max-width: 936px;
  }
  
  @media screen and (min-width: 2000px) {
    .hide-aside #main_top #bber-talk {
      max-width: 80%;
    }
  
    #main_top {
      max-width: 70%;
    }
  }
  
  @media screen and (max-width: 1210px) {
    .hide-aside #main_top {
      padding: 0 12px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .hide-aside #main_top {
      width: 100%;
      padding: 0 15px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hide-aside #main_top {
      padding: 0 5px;
    }
  
    div#main_top {
      margin-top: 20px;
      padding: 0 5px;
    }
  }
  
  #bber-talk {
    /* border-radius: 8px; */
    /* background: var(--card-bg); */
    /* box-shadow: none; */
    box-sizing: border-box;
    /* transition: all .3s ease-in-out; */
    cursor: pointer;
    width: 100%;
    min-height: 50px;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-weight: 700;
  }
  
  #bber-talk,
  #bber-talk a {
    color: var(--font-color);
  }
  
  #bber-talk svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 20px;
  }
  
  #bber-talk .item i {
    margin-left: 5px;
  }
  
  #bber-talk > i {
    font-size: 1.1rem;
  }
  
  #bber-talk .talk-list {
    flex: 1;
    max-height: 32px;
    font-size: 16px;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  #bber-talk .talk-list:hover {
    color: var(--default-bg-color);
    transition: all .2s ease-in-out;
  }
  
  #bber-talk .talk-list li {
    list-style: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;
  }
  
  @media screen and (min-width: 770px) {
    #bber-talk .talk-list {
      text-align: center;
      margin-right: 20px;
    }
  }

/* 首页轮播 */
/* maintop */

#main_top {
    display: flex;
    justify-content: center;
    z-index: 1;
    max-width: 1200px;
    margin: 20px auto;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 0px;
}

.hide-aside #main_top {
    width: 80%;
}

.hide-aside #main_top #bber-talk {
    max-width: 936px;
}

@media screen and (min-width: 2000px) {
    .hide-aside #main_top #bber-talk {
        max-width: 80%;
    }

    #main_top {
        max-width: 70%;
    }
}

@media screen and (max-width: 1210px) {
    .hide-aside #main_top {
        padding: 0 12px;
    }
}

@media screen and (max-width: 900px) {
    .hide-aside #main_top {
        width: 100%;
        padding: 0 15px;
    }
}

@media screen and (max-width: 768px) {
    .hide-aside #main_top {
        padding: 0 5px;
    }

    div#main_top {
        margin-top: 20px;
        padding: 0 5px;
    }
}

#bber-talk {
    /* border-radius: 8px; */
    /* background: var(--card-bg); */
    /* box-shadow: none; */
    box-sizing: border-box;
    /* transition: all .3s ease-in-out; */
    cursor: pointer;
    width: 100%;
    min-height: 50px;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-weight: 700;
}

#bber-talk,
#bber-talk a {
    color: var(--font-color);
}

#bber-talk svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 20px;
}

#bber-talk .item i {
    margin-left: 5px;
}

#bber-talk>i {
    font-size: 1.1rem;
}

#bber-talk .talk-list {
    flex: 1;
    max-height: 32px;
    font-size: 16px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#bber-talk .talk-list:hover {
    color: var(--default-bg-color);
    transition: all .2s ease-in-out;
}

#bber-talk .talk-list li {
    list-style: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 10px;
}

@media screen and (min-width: 770px) {
    #bber-talk .talk-list {
        text-align: center;
        margin-right: 20px;
    }
}

/* 进度条颜色 */
#nprogress .bar {
    background: var(--default-bg-color) !important;
    height: 3px !important;
    transition: width 0.2s ease-in-out;
}

#nprogress .spinner-icon {
    border-top-color: var(--default-bg-color) !important;
    /* 改成你想要的颜色，比如橙色 */
    border-left-color: var(--default-bg-color) !important;
}